<div class="post-entry" style="margin-right: 5%;" > 
    <a href="#">
        <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">

    </a>
    <div class="caption">
        <div class="caption-inner">
            <h3 class="mb-3">name:{{teamInput?.name}}</h3>
            <div class="author d-flex align-items-center">
                
                <div class="text">
                    <h4>owner:{{teamInput?.owner}}</h4>
                    <span>foundation:{{teamInput?.foundation}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
