<div class="custom-media d-flex" style="margin-bottom: 5%;">
    <div class="img mr-4">
        <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
    </div>
    <div class="text">
        <h3 class="mb-4"><a href="#">name:{{playerInput?.name}}</a></h3>
        <h3 class="mb-4"><a href="#">nbr:{{playerInput?.nbr}}</a></h3>
        <h3 class="mb-4"><a href="#">age:{{playerInput?.age}}</a></h3>
        <h3 class="mb-4"><a href="#">position:{{playerInput?.position}}</a></h3>
        <p><a href="#">Read more</a></p>
    </div>
</div>

