<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">owner</th>
        <th scope="col">foundation</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elt of T">
       
        <td>{{elt._id}}</td>
        <td>{{elt.name}}</td>
        <td>{{elt.owner}}</td>
        <td>{{elt.foundation}}</td>
        <td><button style="margin-right: 2%;" type="button" class="btn btn-success" (click)="goToTeamInfo(elt._id)">display</button> <button type="button" class="btn btn-danger" (click)="editTeam(elt._id)">edit</button> <button type="button" class="btn btn-danger" (click)="deletePlayer(elt._id)">delete</button></td>
      </tr>
    </tbody>
  </table>
